[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "libopencm3-template"]
	path = libopencm3-template
	url = https://github.com/libopencm3/libopencm3-template.git
